aiosqlite
asyncpg
colorlog
debugpy
fastmcp
httpx
itsdangerous
mcp
openai
openai-agents
psycopg[binary]
pydantic
pydantic-settings
pyjwt[crypto]
pytest
pytest-asyncio
python-multipart
ruff
sqlalchemy
starlette
uvicorn
